<footer>
      <div id="contact" class="vcenter">
        <a href="mailto:khanh.h.luc@gmail.com" target="_top">
        <h1 class="text-center">Let's collaborate!</h1>
        </a>
      </div>
</footer>