<div id="main-navigation">
    <ul>
      <li><%= link_to("Home", "#") %></li>
      <li><%= link_to("Photography", "#") %></li>
      <li><%= link_to("Portfolio", "#") %></li>
      <li><%= link_to("Blog", "#") %></li>
    </ul>
</div>