<div id="main-navigation">
    <div id="navigation-icon" class="white glyphicon glyphicon-align-justify center-block"></div>
    <ul id="navigation-menu">
      <li><%= link_to("Home", root_path) %></li>
      <li><%= link_to("Photography", photography_path) %></li>
      <li><%= link_to("Code", "#") %></li>
      <li><%= link_to("Blog", blog_path) %></li>
    </ul>
</div>