<% provide(:title, "Khanh Luc") %>
<div id="main-banner">
  <div id="overlay"></div>
  <div id="image"></div>
</div>
<div id="profile">
  <div class="row">
    <div id="photo" class="col-md-6">
      <%= image_tag "profile_pic.jpg", class: "img-circle center-block" %>
      <h3 class="text-center">Khanh Luc</h3>
      <h4 class="text-center">Web Developer</h4>
    </div>
    <div id="description" class="col-md-6">
      <p class="vcenter">Hello and welcome! I am a developer based in the Bay Area, where I primarily work on the backend with the LAMP stack and Javascript frameworks such as React on the frontend. I graduated from the University of California in San Diego with two degrees in computer science and computing
        arts. I recently picked up Ruby on Rails and I'm loving every bit of it. When I'm not coding, I love to plan trips and travel the world
        with my 6D. If you would like to collaborate on a project or recommend a spot to take photos, please don't hesitate to contact me below!
      </p>
    </div>
  </div>
</div>
<div id="resume">
  <div id="resume-header" class="text-center">
    <h2>My <span class="emphasize">Resume</span></h2>
    <div class="center-block header-border">
      <h3>Present</h3>
    </div>
  </div>
  <div id="jobs">
    <div id="timeline"></div>
    <div class="row">
      <div class="job">
        <div class="job-content">
          <div class="job-title">Classroom.tv</div>
          <div class="job-position">Web Developer</div>
          <div class="job-description">
            <p>After graduation, I found myself working for <a href="https://www.linkedin.com/in/eduardoabeliuk">Eduardo</a> and his team at
            <a href="https://www.classroom.tv">Classroom.tv</a>, where we are revolutionizing online education. My job primarily focuses
            on the backend where I code on the backend with PHP and develop front-end applications using Backbone.js and JQuery.</p>
            <p>I led the development of the company's first payment system, where I integrated the Stripe API to handle transactions
            from most major credit cards in U.S. Other projects include a statistical dashboard where administrative users view data
            on their students' progress.</p>
            <p class="job-date">OCT 2011 - PRESENT</p>
          </div>
        </div>
      </div>
      <div class="job">
        <div class="job-content">
          <div class="job-title">Kooltura Marketing</div>
          <div class="job-position">Web Developer</div>
          <div class="job-description">
            <p>I was introduced to <a href="http://koolturamarketing.com/">Kooltura</a> as a
            freelancer, where I maintained domains and uploaded web content for several of the company's clients. I also helped clients
            manage their content on Wordpress, customize themes, and debug site issues.</p>
            <p class="job-date">AUG 2013 - APR 2014</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="job">
        <div class="job-content">
          <div class="job-title">Student Researcher</div>
          <div class="job-position">Immersive Visualization Laboratory at Calit2</div>
          <div class="job-description">
            <p>
              During my last year at UCSD, I developed a graphical user interface application, MatEdit,
              for programmers to determine the most accurate parameters and produce a more realistic
              3D rendering in OpenGL. As a student researcher, I collected data and properties of
              real-world objects and their surfaces to generate a library of materials that can be applied to
              OpenGL primitive types. MatEdit reduced the amount of time spent coding for developers, allowing them more time
              to focus on project simulations and testing.
            </p>
            <p class="job-date">JAN 2011 - JUN 2011</p>
          </div>
        </div>
      </div>
      <div class="job">
        <div class="job-content">
          <div class="job-title">Carefusion</div>
          <div class="job-position">Quality Assurance Intern</div>
          <div class="job-description">
            <p>At <a href="http://www.carefusion.com">Carefusion</a>, I designed additional testing algorithms with Python
              and C# for proprietary software that run on the Alaris® product line. Other tasks include teaming up with
              electrical engineers to design and automate use-case scenarios by interfacing human simulations through the
              testing software.</p>
            <p class="job-date">JUN 2010 - AUG 2010</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>