<% provide(:title, "Khanh Luc") %>
<div id="main-banner">
  <div id="overlay"></div>
  <div id="image"></div>
</div>
<div id="profile">
  <div class="row">
    <div id="photo" class="col-md-6">
      <%= image_tag "profile_pic.jpg", class: "img-circle center-block" %>
      <h3 class="text-center">Khanh Luc</h3>
      <h4 class="text-center">Web Developer</h4>
    </div>
    <div id="description" class="col-md-6">
      <p class="vcenter">Hello and welcome! I am a developer based in the Bay Area, where I primarily work on the backend with the LAMP stack and Javascript frameworks such as React on the frontend. I graduated from the University of California in San Diego with two degrees in computer science and computing
        arts. I recently picked up Ruby on Rails and I'm loving every bit of it. When I'm not coding, I love to plan trips and travel the world
        with my 6D. If you would like to collaborate on a project or recommend a spot to take photos, please don't hesitate to contact me below!
      </p>
    </div>
  </div>
</div>
<div id="resume">
  <div id="resume-header" class="text-center">
    <h2>My <span class="emphasize">Resume</span></h2>
    <div id="experience" class="center-block">
      <h3>Present</h3>
    </div>
  </div>
  <div id="jobs">
    <div class="job">
      <div class="job-content">
        <div class="job-title">Classroom.tv</div>
        <div class="job-position">Web Developer</div>
      </div>
    </div>
    <div class="job">
      <div class="job-content">
        <div class="job-title">Carefusion</div>
        <div class="job-position">Quality Assurance Intern</div>
      </div>
    </div>
    <div class="job">

    </div>
    <div class="job">

    </div>
  </div>
</div>