<% provide(:title, "Code") %>

<div id="code">
    <div class="container">
        <% @projects.each do |project| %>
            <div class="project row">
              <div class="col-md-4 image" style="background-image: url('<%= project[:main_image]%>');">
              </div>
              <div class="col-md-8 content">
                <h3>
                  <%= project[:title] %>
                </h3>
                <hr>
                <%= (project[:body].html_safe) %>
              </div>
            </div>
        <% end %>
    </div>
</div>