@import "bootstrap-sprockets";
@import "bootstrap";
@import "shared/fonts";
@import "shared/mixins/responsive";


#code{
  background-image: url(image-path("code-background.jpg"));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  filter: blur(2px);
  height: auto;
  padding-top: 52px;

  .project{
    height: auto;
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;

    .content{
      -webkit-box-shadow: -6px 0px 19px -4px rgba(0,0,0,0.75);
      -moz-box-shadow: -6px 0px 19px -4px rgba(0,0,0,0.75);
      box-shadow: -6px 0px 19px -4px rgba(0,0,0,0.75);
      height: auto;
      min-height: 300px;
      padding: 20px;

      h3{
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 30px;
        font-weight: 700;
        margin-top: 8px;
      }
      p{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
      }
      .view-project, .view-project-small{
        border-style: solid;
        border-color: #E4E4E4;
        color: #aeaeae;
        display: inline-block;
        float: right;
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;

        transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;

        &:hover{
          background-color: #aeaeae;
          color: #FFFFFF;
        }

        @include breakpoint(sm){
          float: none;
        }
      }
      .view-project{
        @include breakpoint(sm){
          display: none;
        }
      }

      .view-project-small{
        display: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;

        @include breakpoint(sm){
          display: inline-block;
        }
      }
    }

    .image{
      min-height: 300px;
      height: 100%;
      background-size: cover;
      background-position: top left;
    }
  }
}