// Place all the styles related to the Photography controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "shared/fonts";
@import "shared/mixins/responsive";

#galleries{
  #featured-gallery{
    height: 50vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}