// Place all the styles related to the Photography controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "shared/fonts";
@import "shared/mixins/responsive";

#galleries{
  #featured-gallery{
    width: 100%;
  }

  a{
    &:hover{
      text-decoration: none;
    }
  }

  .photoset{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;

    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-color: #FFFFFF;
    padding-left: 0px;
    padding-right: 0px;


    .overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.25);
      opacity: 1;

      h2{
        font-family: "Open Sans Condensed";
        font-size: 30px;
        color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 0px;
        text-shadow: 0px 0px 4px rgba(150, 150, 150, 0.76);
      }
    }

    &:hover{
      .overlay{
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        opacity: 0;
      }
    }
  }
}

/*------------ Individual Galleries -------------*/
#gallery{
  padding-top: 52px;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
  position:relative;
  #photos{
    width: 400000px;
    height: 85vh;
    position: relative;
    transition: left .75s ease-in-out;

    .photo{
      height: 100%;
      margin-left: 4px;
      float: left;
      position: relative;
      .overlay{
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.90);
        &.active{
          opacity: 1;
        }
        transition: opacity 0.75s ease-in-out
      }
      img{
        height: 100%;
      }
    }
  }

  #slider{
    width: 100vw;
    #slider-container{
      width: 100vw;
      overflow: hidden;
      #thumbnails{
        width: 400000px;
        height: 15vh;
        position: absolute;
        left: 0px;
        transition: left .5s ease-in-out;
        -moz-transition: left .5s ease-in-out;
        -webkit-transition: left .5s ease-in-out;
        .photo-thumbnail{
          height: 100%;
          width: 10vw;
          float: left;
          position: relative;
          background-size: cover;
          border-style: solid;
          border-width: 1px;
          border-color: black;
          .overlay{
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.75);
            &.active{
              opacity: 1;
            }
            transition: opacity 0.75s ease-in-out
          }
          img{
            height: 100%;
          }
        }
      }
    }
  }
}