@import "bootstrap-sprockets";
@import "bootstrap";
@import "shared/fonts";
@import "shared/mixins/responsive";

/* color classes */

.white{
  color: #FFFFFF;
}

/*------------------------ Navigation Menu -----------------------------------*/
#main-navigation{
  position: fixed;
  width: 100%;
  z-index: 9999;
  ul{
    list-style-type: none;
    text-align: center;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0);
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;

    &.show-bg{
      -webkit-transition: all .75s ease;
      -moz-transition: all .75s ease;
      -ms-transition: all .75s ease;
      -o-transition: all .75s ease;
      transition: all .75s ease;
      background-color: rgba(0,0,0,.75);
      li{
        a:hover{
          border-style: none;
        }
      }
    }

    &.hide-bg{
      -webkit-transition: all .75s ease;
      -moz-transition: all .75s ease;
      -ms-transition: all .75s ease;
      -o-transition: all .75s ease;
      transition: all .75s ease;
      background0color: rgba(0,0,0,.75);
    }

    li{
      display: inline-block;
      a{
        display: inline-block;
        font-size: 22px;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;

        &:hover{
          border-bottom: solid;
          border-color: #FFFFFF;
          border-width: 1.5px;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          -ms-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          color: #B0D5FF;
        }
      }
    }
  }

  #navigation-icon{
    display: none;
  }

  @include breakpoint(sm){
    #navigation-icon{
      display: block;
      text-align: center;
      font-size: 28px;
      padding:10px;
      background-color: rgba(0,0,0,.75);
      border-bottom-style: none;
      top: 0px;

      &:hover{
        color: #B0D5FF;
      }
    }
    ul{
      display:none;
      height: 0px;
      padding: 0;
      li{
        display: block;
        background-color: rgba(0,0,0,.75);
        a{
          color: #FFFFFF;
          &:hover{
            border-style: none;
          }
        }

      }

      &.show-small-bg{
        display: block;
      }
    }
  }
  @include breakpoint(lg){
    ul{
      display: block;
    }
  }
}


/*--------------------------- Landing Page Banner --------------------------------*/
#main-banner{
  height: 100vh;
  width: 100%;

  #overlay{
    height: 100%;
    width: 100%;
    z-index: 1001;
    background-color: #2E2F30;
    position: absolute;
    opacity: .3;
    display: none;
  }

  #image{
    background: url(image-path("landing-background.jpg")) no-repeat center center;
    height: 100%;
    -webkit-background-size: cover;  
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1000;
  }
}

/*------------------------------- Profile ----------------------------------*/
#profile{
  /* parallax background */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image: url(image-path("profile_background.jpg"));
  -webkit-box-shadow: 0px -8px 23px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -8px 23px -1px rgba(0,0,0,0.75);
  box-shadow: 0px -8px 23px -1px rgba(0,0,0,0.75);

  .row{
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #description{
    background-color: rgba(0,0,0,.9);
    color: #FFFFFF;
    height: 400px;
    font-size: 18px;
    p{
      margin-bottom: 0px;
    }

    @include breakpoint(xs){
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 10px;
      height: auto;
    }
  }

  #photo{
    background-color: rgba(0,0,0,.5);
    padding: 30px;
    color: #FFFFFF;
    height: 400px;

    img{
      height: 80%;
      width: auto;
      @include breakpoint(xs) {
        width: 70%;
        height: auto;
      }
    }

    @include breakpoint(xs){
      height: auto;
    }
  }
}

/* ----------------------------------- Blog -------------------------------*/
#blog{
  .post{
    display: block;
    min-height: 400px;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    -webkit-box-shadow: inset 0px 0px 25px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 0px 25px 6px rgba(0,0,0,0.25);
    box-shadow: inset 0px 0px 25px 6px rgba(0,0,0,0.25);

    .overlay{
      position: absolute;
      background-color: rgba(0,0,0,.2);
      height: 100%;
      width: 100%;

      h2{
        color: #FFFFFF;
        padding: 0px 10px 0px 10px;
        text-shadow: 0px 0px 10px rgba(0,0,0,1);
        text-transform: uppercase;
        margin-top: 0px;
      }

      @include breakpoint(xs){
        h2{
          font-size: 24px;
        }
      }
    }
  }


  .full{
    width: 100%;
    clear: both;
  }

  .half{
    float: left;
    width: 50%;

    @include breakpoint(xs){
      float: none;
      width: 100%;
    }
  }
}

/* --------------- Main Post -------------------------------*/
#main-post{
  #main-image{
    position: relative;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-box-shadow: inset 0px 0px 25px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 0px 25px 6px rgba(0,0,0,0.25);
    box-shadow: inset 0px 0px 25px 6px rgba(0,0,0,0.25);

    .overlay{
      position: absolute;
      background-color: rgba(0,0,0,.25);
      height: 100%;
      width: 100%;

      text-shadow: 0px 0px 10px rgba(0,0,0,1);

      h2{
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 48px;
        font-weight: bold;
        margin-top: 0px;

        @include breakpoint(sm){
          font-size: 28px;
        }
      }
      h3{
        color: #FFFFFF;
        margin-top: 0px;
        @include breakpoint(sm){
          font-size: 14px;
        }
      }
    }
  }

  #video-wrapper{
    width: 100%;
    height: 50vw;
    padding-top: 52px;
    padding-bottom: 52px;
    background-color: black;
    iframe{
      width: 100%;
      height: 100%;
      border: 0px inset;
    }
    #post{
      height: 100%;
    }
  }

  p{

    &:first-child{
      margin-top: 80px;
      @include breakpoint(sm){
        margin-top: 40px;
      }
    }

    &:last-child{
      margin-bottom: 80px;
      @include breakpoint(sm){
        margin-bottom: 40px;
      }
    }

    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
    color: black;
    font-size: 24px;

    @include breakpoint(sm){
      font-size: 16px;
    }
  }

  img.full{
    display: block;
    height: 100vh;
    width: 100%;
  }
}

/* --------------------- Resume -------------------------*/
#resume{
  $resume-color: #2c3d4f;
  background-color: #E3E3E3;
  color : $resume-color;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 60px;

  .resume-header{
    h2{
      display: inline-block;
      padding: 40px;
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;

      .emphasize{
        display: inline-block;
        color: #FFFFFF;
        background-color: $resume-color;
        padding: 10px;

        border-radius: 8px 8px 8px 8px;
        -moz-border-radius: 8px 8px 8px 8px;
        -webkit-border-radius: 8px 8px 8px 8px;
      }

      &:before, &:after{
        position: absolute;
        content: "";
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: $resume-color;
        top: 50%;
      }

      &:before{
        left: -20px;
      }

      &:after{
        right: -24px;
      }
    }

    .header-border{
      padding-top: 12px;
      padding-bottom: 12px;
      width: 160px;
      background-color: #FFFFFF;

      border-radius: 8px 8px 8px 8px;
      -moz-border-radius: 8px 8px 8px 8px;
      -webkit-border-radius: 8px 8px 8px 8px;
      border-style: solid;
      border-color: #BBBBBB;

      h3{
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }

  .jobs{
    position: relative;
    padding-bottom: 40px;

    .timeline{
      position: absolute;
      height: 100%;
      width: 4px;
      background-color: #BBBBBB;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;

      @include breakpoint(sm){
        display: none;
      }
    }

    .job{
      width: 50%;
      padding: 20px;
      position: relative;
      z-index:101;

      &:nth-child(odd){
        float: left;
        margin-top: 20px;

        .job-content{
          &:after{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 15px 8px 15px;
            border-color: transparent transparent transparent transparent;
            position: absolute;
            content: "";
            right: -8px;
            top: 50px;
          }

          &:hover:after{
            border-color: transparent transparent transparent #FFFFFF;
            -webkit-transition: all .75s ease;
            -moz-transition: all .75s ease;
            -ms-transition: all .75s ease;
            -o-transition: all .75s ease;
            transition: all .75s ease;

            @include breakpoint(sm){
              border-style: none;
            }
          }

        }
        @include breakpoint(sm){
          margin-top: 20px;
        }
      }

      &:nth-child(even){
        float: right;
        margin-top: 60px;

        .job-content{
          &:after{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 18px 8px 0;
            border-color: transparent transparent transparent transparent;
            position: absolute;
            content: "";
            left: 3px;
            top: 80px;
          }
          &:hover:after{
              border-color: transparent #FFFFFF transparent transparent;
              -webkit-transition: all .75s ease;
              -moz-transition: all .75s ease;
              -ms-transition: all .75s ease;
              -o-transition: all .75s ease;
              transition: all .75s ease;

            @include breakpoint(sm){
              border-style: none;
            }
          }
        }

        @include breakpoint(sm){
          margin-top: 20px;
        }
      }

      .job-content{
        padding: 20px;
        border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;

        &:hover{
          background-color: #FFFFFF;
          -webkit-transition: all .75s ease;
          -moz-transition: all .75s ease;
          -ms-transition: all .75s ease;
          -o-transition: all .75s ease;
          transition: all .75s ease;
        }

        .job-title{
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 6px;
        }
        .job-position{
          font-weight: lighter;
          font-size: 18px;
          margin-bottom: 6px;
        }
        .job-description{
          font-size: 14px;
          font-family: "Open Sans";
          .job-date{
            font-size: 14px;
            font-family: "Open Sans Condensed"
          }
        }

      }

      @include breakpoint(sm){
        width: 100%;
        float: none;
        background-color: transparent;
        &:hover{
          transition: none;
        }
      }
    }
  }

  #end-logo{
    font-size: 26px;
    background-color: #FFFFFF;
    width: 60px;
    height: 60px;
    span{
      top: 12px;
    }
    border-style: solid;
    border-color: #BBBBBB;

    @include breakpoint(sm){
      display: none;
    }
  }
}

/* ------------- customizing classes -----------------*/
.no-gutters{
  margin-right: 0;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @include breakpoint(xs){
    top: 0px;
    transform: translateY(0);
  }
}