@import "bootstrap-sprockets";
@import "bootstrap";
@import "shared/fonts";
@import "shared/mixins/responsive";

/* color classes */

.white{
  color: #FFFFFF;
}

/*------------------------ Navigation Menu -----------------------------------*/
#main-navigation{
  position: fixed;
  width: 100%;
  z-index: 9999;
  ul{
    list-style-type: none;
    text-align: center;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0);

    &.show-bg{
      -webkit-transition: all .75s ease;
      -moz-transition: all .75s ease;
      -ms-transition: all .75s ease;
      -o-transition: all .75s ease;
      transition: all .75s ease;
      background-color: rgba(0,0,0,.75);
      li{
        a:hover{
          border-style: none;
        }
      }
    }

    &.hide-bg{
      -webkit-transition: all .75s ease;
      -moz-transition: all .75s ease;
      -ms-transition: all .75s ease;
      -o-transition: all .75s ease;
      transition: all .75s ease;
      background0color: rgba(0,0,0,.75);
    }

    li{
      display: inline-block;
      a{
        display: inline-block;
        font-size: 22px;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: white;
        text-decoration: none;

        &:hover{
          border-bottom: solid;
          border-color: white;
          border-width: 1.5px;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          -ms-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          color: #B0D5FF;
        }
      }
    }
  }

  #navigation-icon{
    display: none;
  }

  @include breakpoint(sm){
    #navigation-icon{
      display: block;
      text-align: center;
      font-size: 28px;
      padding:10px;
      background-color: rgba(0,0,0,.75);
      border-bottom-style: none;
      top: 0px;

      &:hover{
        color: #B0D5FF;
      }
    }
    ul{
      display:none;
      height: 0px;
      padding: 0;
      li{
        display: block;
        background-color: rgba(0,0,0,.75);
        a{
          color: white;
          &:hover{
            border-style: none;
          }
        }

      }

      &.show-small-bg{
        display: block;
      }
    }
  }
  @include breakpoint(lg){
    ul{
      display: block;
    }
  }
}


/*--------------------------- Landing Page Banner --------------------------------*/
#main-banner{
  height: 100vh;
  width: 100%;

  #overlay{
    height: 100%;
    width: 100%;
    z-index: 1001;
    background-color: #2E2F30;
    position: absolute;
    opacity: .3;
    display: none;
  }

  #image{
    background: url(image-path("landing-background.jpg")) no-repeat center center;
    height: 100%;
    -webkit-background-size: cover;  
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1000;
  }
}

/*------------------------------- Profile ----------------------------------*/
#profile{
  /* parallax background */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image: url(image-path("profile_background.jpg"));
  -webkit-box-shadow: 0px 3px 23px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 23px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 23px -1px rgba(0,0,0,0.75);
  height: 400px;

  .row{
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #description{
    background-color: rgba(0,0,0,.9);
    color: white;
    height: 100%;
    font-size: 18px;
  }

  #photo{
    position: relative;
    background-color: rgba(0,0,0,.5);
    padding: 30px;
    img{
      top: 50%;
      height: 80%;
      width: auto;
    }
    color: white;
    height: 100%;
  }
}

/* ----------------------------------- Blog -------------------------------*/
#blog{
  .post{
    display: block;
    min-height: 400px;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    -webkit-box-shadow: inset 0px 0px 25px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px 0px 25px 6px rgba(0,0,0,0.25);
    box-shadow: inset 0px 0px 25px 6px rgba(0,0,0,0.25);

    .overlay{
      position: absolute;
      background-color: rgba(0,0,0,.2);
      height: 100%;
      width: 100%;

      //&:hover{
      //  -webkit-transition: all .2s ease-in-out;
      //  -moz-transition: all .2s ease-in-out;
      //  -o-transition: all .2s ease-in-out;
      //  -ms-transition: all .2s ease-in-out;
      //  transition: all .2s ease-in-out;
      //  opacity: 0;
      //}

      h2{
        color: white;
        padding: 0px 10px 0px 10px;
        text-shadow: 0px 0px 10px rgba(0,0,0,1);
        text-transform: uppercase;
      }

      @include breakpoint(xs){
        h2{
          font-size: 24px;
        }
      }
    }
  }


  .full{
    width: 100%;
    clear: both;
  }

  .half{
    float: left;
    width: 50%;

    @include breakpoint(xs){
      float: none;
      width: 100%;
    }
  }
}

/* --------------- Main Post -------------------------------*/
#main-post{
  img.full{
    height: 100vh;
    width: 100%;
  }
}


/* ------------- customizing classes -----------------*/
.no-gutters{
  margin-right: 0;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}