@import "bootstrap-sprockets";
@import "bootstrap";
@import "shared/fonts";
@import "shared/mixins/responsive";

/* color classes */

.white{
  color: #FFFFFF;
}

#main-navigation{
  position: fixed;
  width: 100%;
  z-index: 9999;
  ul{
    list-style-type: none;
    text-align: center;
    margin-bottom: 0;
    li{
      display: inline-block;
      a{
        display: inline-block;
        font-size: 22px;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        color: white;
        text-decoration: none;

        &:hover{
          border-bottom: solid;
          border-color: white;
          border-width: 1.5px;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          -ms-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          color: #B0D5FF;
        }
      }
    }
  }

  #navigation-icon{
    display: none;
  }
  @include breakpoint(md){
    #navigation-icon{
      display: block;
      text-align: center;
      font-size: 28px;
      padding:10px;

      &:hover{
        color: #B0D5FF;
      }
    }
    ul{
      display: none;
      background-color: rgba(0,0,0,.5);
      padding: 0;
      li{
        display: block;
        a{
          color: white;
        }
      }
    }
  }
  @include breakpoint(lg){
    ul{
      display: block;
    }
  }
}

#main-banner{
  height: 100vh;
  width: 100%;

  #overlay{
    height: 100%;
    width: 100%;
    z-index: 1001;
    background-color: #2E2F30;
    position: absolute;
    opacity: .3;
    display: none;
  }

  #image{
    background: url(image-path("landing-background.jpg")) no-repeat top center;
    height: 100%;
    -webkit-background-size: cover;  
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1000;
  }
}

#profile{
  /* parallax background */
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-image: url(image-path("profile_background.jpg"));
  -webkit-box-shadow: 0px 3px 23px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 23px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 23px -1px rgba(0,0,0,0.75);
  height: 400px;

  .row{
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  #description{
    background-color: rgba(0,0,0,.9);
    color: white;
    height: 100%;
    font-size: 18px;
    p{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

  }

  #photo{
    position: relative;
    background-color: rgba(0,0,0,.5);
    padding: 30px;
    img{
      top: 50%;
      height: 80%;
      width: auto;
    }
    color: white;
    height: 100%;

    @include breakpoint(md){
      img{
      }
    }

    @include breakpoint(xs){
      img{
      }
    }
  }
}

#blog{
  width: 100%;
  #main-post{
    img: 100%;
  }
}

.no-gutters{
  margin-right: 0;

}