<% provide(:title, "Photography")%>

<div id="galleries">
  <div id="featured-gallery" style="background-image: url('<%= @featured_set[:cover_image]%>')"></div>
  <div id="photosets">
    
  </div>
</div>